In [57]:
dir

In [58]:
pwd

'C:\\Users\\pichappan\\Documents\\SamplePython\\input'

In [59]:
cd ../input

C:\Users\pichappan\Documents\SamplePython\input

In [60]:
import pandas as pd

In [61]:
#df from read csv. 1st row would be the header with no skips or default is header=0
df0 = pd.read_csv('location_weather_short.csv')

#We see NaN for value Null, Blank, N/A, NA.
df0

,Location,Date,WindSpeed,Precipitation,tMax,tMin
0,"NY CITY CENTRAL PARK, NY US",12/20/2019,4.47,1.57,55.0,42.0
1,"NY CITY CENTRAL PARK, NY US",12/10/2019,6.93,NaN,58.0,39.0
2,NaN,12/11/2019,6.26,0.26,40.0,31.0
3,"NY CITY CENTRAL PARK, NY US",12/12/2019,NaN,NaN,NaN,NaN
4,"NY CITY CENTRAL PARK, NY US",12/13/2019,NaN,NaN,48.0,33.0
5,NaN,12/14/2019,6.04,NaN,NaN,45.0
6,NaN,12/15/2019,NaN,NaN,49.0,NaN
7,"NY CITY CENTRAL PARK, NY US",12/16/2019,3.80,NaN,NaN,NaN
8,NaN,12/17/2019,8.72,NaN,35.0,32.0
9,NaN,12/18/2019,NaN,NaN,NaN,NaN

In [62]:
# Datatype - DataFrame, Series, String

print(type(df0))
print(type(df0.Date))
print(type(df0.Date[0]))
print(type(df0.Location))
print(type(df0.Location[0]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'str'>
<class 'pandas.core.series.Series'>
<class 'str'>

In [63]:
#df from read csv. Parse the date to change Scring to Date format
df1 = pd.read_csv('location_weather_short.csv', parse_dates=['Date'])
df1

,Location,Date,WindSpeed,Precipitation,tMax,tMin
0,"NY CITY CENTRAL PARK, NY US",2019-12-20,4.47,1.57,55.0,42.0
1,"NY CITY CENTRAL PARK, NY US",2019-12-10,6.93,NaN,58.0,39.0
2,NaN,2019-12-11,6.26,0.26,40.0,31.0
3,"NY CITY CENTRAL PARK, NY US",2019-12-12,NaN,NaN,NaN,NaN
4,"NY CITY CENTRAL PARK, NY US",2019-12-13,NaN,NaN,48.0,33.0
5,NaN,2019-12-14,6.04,NaN,NaN,45.0
6,NaN,2019-12-15,NaN,NaN,49.0,NaN
7,"NY CITY CENTRAL PARK, NY US",2019-12-16,3.80,NaN,NaN,NaN
8,NaN,2019-12-17,8.72,NaN,35.0,32.0
9,NaN,2019-12-18,NaN,NaN,NaN,NaN

In [64]:
print(type(df1))
print(type(df1.Date))
print(type(df1.Date[0]))
print(type(df1.Location))
print(type(df1.Location[0]))

df1.dtypes

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas.core.series.Series'>
<class 'str'>

Location                 object
Date             datetime64[ns]
WindSpeed               float64
Precipitation           float64
tMax                    float64
tMin                    float64
dtype: object

In [65]:
df1.set_index("Date", inplace=True)
df1

                               Location  WindSpeed  Precipitation  tMax  tMin
Date
2019-12-20  NY CITY CENTRAL PARK, NY US       4.47           1.57  55.0  42.0
2019-12-10  NY CITY CENTRAL PARK, NY US       6.93            NaN  58.0  39.0
2019-12-11                          NaN       6.26           0.26  40.0  31.0
2019-12-12  NY CITY CENTRAL PARK, NY US        NaN            NaN   NaN   NaN
2019-12-13  NY CITY CENTRAL PARK, NY US        NaN            NaN  48.0  33.0
2019-12-14                          NaN       6.04            NaN   NaN  45.0
2019-12-15                          NaN        NaN            NaN  49.0   NaN
2019-12-16  NY CITY CENTRAL PARK, NY US       3.80            NaN   NaN   NaN
2019-12-17                          NaN       8.72            NaN  35.0  32.0
2019-12-18                          NaN        NaN            NaN   NaN   NaN

In [66]:
df1.dtypes

Location          object
WindSpeed        float64
Precipitation    float64
tMax             float64
tMin             float64
dtype: object

In [67]:
#Replace all NaN with Zero
df2 = df1.fillna(0)
df2

                               Location  WindSpeed  Precipitation  tMax  tMin
Date
2019-12-20  NY CITY CENTRAL PARK, NY US       4.47           1.57  55.0  42.0
2019-12-10  NY CITY CENTRAL PARK, NY US       6.93           0.00  58.0  39.0
2019-12-11                            0       6.26           0.26  40.0  31.0
2019-12-12  NY CITY CENTRAL PARK, NY US       0.00           0.00   0.0   0.0
2019-12-13  NY CITY CENTRAL PARK, NY US       0.00           0.00  48.0  33.0
2019-12-14                            0       6.04           0.00   0.0  45.0
2019-12-15                            0       0.00           0.00  49.0   0.0
2019-12-16  NY CITY CENTRAL PARK, NY US       3.80           0.00   0.0   0.0
2019-12-17                            0       8.72           0.00  35.0  32.0
2019-12-18                            0       0.00           0.00   0.0   0.0

In [68]:
# Replace different values for different columns
df3 = df1.fillna({  'Location':'Unknown Location',
                    'WindSpeed': df1.WindSpeed.mean(), 
                    'Precipitation': df1.Precipitation.mean(), 
                    'tMax': df1.tMax.mean(),
                    'tMin': df1.tMin.mean() })
df3

                               Location  WindSpeed  Precipitation  tMax  tMin
Date
2019-12-20  NY CITY CENTRAL PARK, NY US   4.470000          1.570  55.0  42.0
2019-12-10  NY CITY CENTRAL PARK, NY US   6.930000          0.915  58.0  39.0
2019-12-11             Unknown Location   6.260000          0.260  40.0  31.0
2019-12-12  NY CITY CENTRAL PARK, NY US   6.036667          0.915  47.5  37.0
2019-12-13  NY CITY CENTRAL PARK, NY US   6.036667          0.915  48.0  33.0
2019-12-14             Unknown Location   6.040000          0.915  47.5  45.0
2019-12-15             Unknown Location   6.036667          0.915  49.0  37.0
2019-12-16  NY CITY CENTRAL PARK, NY US   3.800000          0.915  47.5  37.0
2019-12-17             Unknown Location   8.720000          0.915  35.0  32.0
2019-12-18             Unknown Location   6.036667          0.915  47.5  37.0

In [69]:
# forword fill by carry forward values across rows/days
df4=df1.fillna(method="ffill") # axis="rows"
df4

                               Location  WindSpeed  Precipitation  tMax  tMin
Date
2019-12-20  NY CITY CENTRAL PARK, NY US       4.47           1.57  55.0  42.0
2019-12-10  NY CITY CENTRAL PARK, NY US       6.93           1.57  58.0  39.0
2019-12-11  NY CITY CENTRAL PARK, NY US       6.26           0.26  40.0  31.0
2019-12-12  NY CITY CENTRAL PARK, NY US       6.26           0.26  40.0  31.0
2019-12-13  NY CITY CENTRAL PARK, NY US       6.26           0.26  48.0  33.0
2019-12-14  NY CITY CENTRAL PARK, NY US       6.04           0.26  48.0  45.0
2019-12-15  NY CITY CENTRAL PARK, NY US       6.04           0.26  49.0  45.0
2019-12-16  NY CITY CENTRAL PARK, NY US       3.80           0.26  49.0  45.0
2019-12-17  NY CITY CENTRAL PARK, NY US       8.72           0.26  35.0  32.0
2019-12-18  NY CITY CENTRAL PARK, NY US       8.72           0.26  35.0  32.0

In [70]:
# backward fill going across columns instead of rows
df5=df1.fillna(method="bfill", axis="columns")
df5

                               Location WindSpeed Precipitation tMax tMin
Date
2019-12-20  NY CITY CENTRAL PARK, NY US      4.47          1.57   55   42
2019-12-10  NY CITY CENTRAL PARK, NY US      6.93            58   58   39
2019-12-11                         6.26      6.26          0.26   40   31
2019-12-12  NY CITY CENTRAL PARK, NY US       NaN           NaN  NaN  NaN
2019-12-13  NY CITY CENTRAL PARK, NY US        48            48   48   33
2019-12-14                         6.04      6.04            45   45   45
2019-12-15                           49        49            49   49  NaN
2019-12-16  NY CITY CENTRAL PARK, NY US       3.8           NaN  NaN  NaN
2019-12-17                         8.72      8.72            35   35   32
2019-12-18                          NaN       NaN           NaN  NaN  NaN

In [71]:
# forward fill across rows with limit of 1 row; don't assume more than 1 row :)
df6=df1.fillna(method="ffill", limit=1)
df6

                               Location  WindSpeed  Precipitation  tMax  tMin
Date
2019-12-20  NY CITY CENTRAL PARK, NY US       4.47           1.57  55.0  42.0
2019-12-10  NY CITY CENTRAL PARK, NY US       6.93           1.57  58.0  39.0
2019-12-11  NY CITY CENTRAL PARK, NY US       6.26           0.26  40.0  31.0
2019-12-12  NY CITY CENTRAL PARK, NY US       6.26           0.26  40.0  31.0
2019-12-13  NY CITY CENTRAL PARK, NY US        NaN            NaN  48.0  33.0
2019-12-14  NY CITY CENTRAL PARK, NY US       6.04            NaN  48.0  45.0
2019-12-15                          NaN       6.04            NaN  49.0  45.0
2019-12-16  NY CITY CENTRAL PARK, NY US       3.80            NaN  49.0   NaN
2019-12-17  NY CITY CENTRAL PARK, NY US       8.72            NaN  35.0  32.0
2019-12-18                          NaN       8.72            NaN  35.0  32.0

In [72]:
# Simple and linear Interpolation to guess 1 or more numbers. Also checkout the numbers in last rows
df7=df1.interpolate()
df7

,Location,WindSpeed,Precipitation,tMax,tMin
Date,,,,,
2019-12-20,"NY CITY CENTRAL PARK, NY US",4.470000,1.570,55.0,42.000000
2019-12-10,"NY CITY CENTRAL PARK, NY US",6.930000,0.915,58.0,39.000000
2019-12-11,NaN,6.260000,0.260,40.0,31.000000
2019-12-12,"NY CITY CENTRAL PARK, NY US",6.186667,0.260,44.0,32.000000
2019-12-13,"NY CITY CENTRAL PARK, NY US",6.113333,0.260,48.0,33.000000
2019-12-14,NaN,6.040000,0.260,48.5,45.000000
2019-12-15,NaN,4.920000,0.260,49.0,40.666667
2019-12-16,"NY CITY CENTRAL PARK, NY US",3.800000,0.260,42.0,36.333333
2019-12-17,NaN,8.720000,0.260,35.0,32.000000
2019-12-18,NaN,8.720000,0.260,35.0,32.000000

In [73]:
#drop rows if any one cell is N/A
df8 = df1.dropna()
df8

                               Location  WindSpeed  Precipitation  tMax  tMin
Date
2019-12-20  NY CITY CENTRAL PARK, NY US       4.47           1.57  55.0  42.0

In [74]:
#drop very bad data points. drop only if all non key/index fields are NA
df9 = df1.dropna(how='all')
df9

                               Location  WindSpeed  Precipitation  tMax  tMin
Date
2019-12-20  NY CITY CENTRAL PARK, NY US       4.47           1.57  55.0  42.0
2019-12-10  NY CITY CENTRAL PARK, NY US       6.93            NaN  58.0  39.0
2019-12-11                          NaN       6.26           0.26  40.0  31.0
2019-12-12  NY CITY CENTRAL PARK, NY US        NaN            NaN   NaN   NaN
2019-12-13  NY CITY CENTRAL PARK, NY US        NaN            NaN  48.0  33.0
2019-12-14                          NaN       6.04            NaN   NaN  45.0
2019-12-15                          NaN        NaN            NaN  49.0   NaN
2019-12-16  NY CITY CENTRAL PARK, NY US       3.80            NaN   NaN   NaN
2019-12-17                          NaN       8.72            NaN  35.0  32.0

In [75]:
df9 = df1.dropna(thresh=3) # We need 3 or more valid values for each row
df9

                               Location  WindSpeed  Precipitation  tMax  tMin
Date
2019-12-20  NY CITY CENTRAL PARK, NY US       4.47           1.57  55.0  42.0
2019-12-10  NY CITY CENTRAL PARK, NY US       6.93            NaN  58.0  39.0
2019-12-11                          NaN       6.26           0.26  40.0  31.0
2019-12-13  NY CITY CENTRAL PARK, NY US        NaN            NaN  48.0  33.0
2019-12-17                          NaN       8.72            NaN  35.0  32.0

In [76]:
dt = pd.date_range("2019-12-09","2019-12-21")
idx = pd.DatetimeIndex(dt)
df10 = df1.reindex(idx)
df10

                               Location  WindSpeed  Precipitation  tMax  tMin
2019-12-09                          NaN        NaN            NaN   NaN   NaN
2019-12-10  NY CITY CENTRAL PARK, NY US       6.93            NaN  58.0  39.0
2019-12-11                          NaN       6.26           0.26  40.0  31.0
2019-12-12  NY CITY CENTRAL PARK, NY US        NaN            NaN   NaN   NaN
2019-12-13  NY CITY CENTRAL PARK, NY US        NaN            NaN  48.0  33.0
2019-12-14                          NaN       6.04            NaN   NaN  45.0
2019-12-15                          NaN        NaN            NaN  49.0   NaN
2019-12-16  NY CITY CENTRAL PARK, NY US       3.80            NaN   NaN   NaN
2019-12-17                          NaN       8.72            NaN  35.0  32.0
2019-12-18                          NaN        NaN            NaN   NaN   NaN
2019-12-19                          NaN        NaN            NaN   NaN   NaN
2019-12-20  NY CITY CENTRAL PARK, NY US       4.47           1.57  55.0  42.0
2019-12-21                          NaN        NaN            NaN   NaN   NaN

In [77]:
import numpy as np
df11 = df10.replace(0.26, np.NaN) # search and replace all 0.26 with NaN
df11

                               Location  WindSpeed  Precipitation  tMax  tMin
2019-12-09                          NaN        NaN            NaN   NaN   NaN
2019-12-10  NY CITY CENTRAL PARK, NY US       6.93            NaN  58.0  39.0
2019-12-11                          NaN       6.26            NaN  40.0  31.0
2019-12-12  NY CITY CENTRAL PARK, NY US        NaN            NaN   NaN   NaN
2019-12-13  NY CITY CENTRAL PARK, NY US        NaN            NaN  48.0  33.0
2019-12-14                          NaN       6.04            NaN   NaN  45.0
2019-12-15                          NaN        NaN            NaN  49.0   NaN
2019-12-16  NY CITY CENTRAL PARK, NY US       3.80            NaN   NaN   NaN
2019-12-17                          NaN       8.72            NaN  35.0  32.0
2019-12-18                          NaN        NaN            NaN   NaN   NaN
2019-12-19                          NaN        NaN            NaN   NaN   NaN
2019-12-20  NY CITY CENTRAL PARK, NY US       4.47           1.57  55.0  42.0
2019-12-21                          NaN        NaN            NaN   NaN   NaN

In [78]:
df12 = df10.replace([0.26,35], np.NaN) # Search and replace 0.26 and 35 with NaN
df12

                               Location  WindSpeed  Precipitation  tMax  tMin
2019-12-09                          NaN        NaN            NaN   NaN   NaN
2019-12-10  NY CITY CENTRAL PARK, NY US       6.93            NaN  58.0  39.0
2019-12-11                          NaN       6.26            NaN  40.0  31.0
2019-12-12  NY CITY CENTRAL PARK, NY US        NaN            NaN   NaN   NaN
2019-12-13  NY CITY CENTRAL PARK, NY US        NaN            NaN  48.0  33.0
2019-12-14                          NaN       6.04            NaN   NaN  45.0
2019-12-15                          NaN        NaN            NaN  49.0   NaN
2019-12-16  NY CITY CENTRAL PARK, NY US       3.80            NaN   NaN   NaN
2019-12-17                          NaN       8.72            NaN   NaN  32.0
2019-12-18                          NaN        NaN            NaN   NaN   NaN
2019-12-19                          NaN        NaN            NaN   NaN   NaN
2019-12-20  NY CITY CENTRAL PARK, NY US       4.47           1.57  55.0  42.0
2019-12-21                          NaN        NaN            NaN   NaN   NaN

In [79]:
df13 = df10.replace({'Location':np.NaN}, 'NYC') # Replace Location column NaN with NYC
df14 = df13.replace({'WindSpeed': 6.040,'Precipitation': 1.570}, np.NaN) #Replace multiple columns with NaN
df14

                               Location  WindSpeed  Precipitation  tMax  tMin
2019-12-09                          NYC        NaN            NaN   NaN   NaN
2019-12-10  NY CITY CENTRAL PARK, NY US       6.93            NaN  58.0  39.0
2019-12-11                          NYC       6.26           0.26  40.0  31.0
2019-12-12  NY CITY CENTRAL PARK, NY US        NaN            NaN   NaN   NaN
2019-12-13  NY CITY CENTRAL PARK, NY US        NaN            NaN  48.0  33.0
2019-12-14                          NYC        NaN            NaN   NaN  45.0
2019-12-15                          NYC        NaN            NaN  49.0   NaN
2019-12-16  NY CITY CENTRAL PARK, NY US       3.80            NaN   NaN   NaN
2019-12-17                          NYC       8.72            NaN  35.0  32.0
2019-12-18                          NYC        NaN            NaN   NaN   NaN
2019-12-19                          NYC        NaN            NaN   NaN   NaN
2019-12-20  NY CITY CENTRAL PARK, NY US       4.47            NaN  55.0  42.0
2019-12-21                          NYC        NaN            NaN   NaN   NaN

In [80]:
# better guess based on time interpolation for all number columns.
df15=df14.interpolate(method="time")
df15

,Location,WindSpeed,Precipitation,tMax,tMin
2019-12-09,NYC,NaN,NaN,NaN,NaN
2019-12-10,"NY CITY CENTRAL PARK, NY US",6.930000,NaN,58.000000,39.000000
2019-12-11,NYC,6.260000,0.26,40.000000,31.000000
2019-12-12,"NY CITY CENTRAL PARK, NY US",5.768000,0.26,44.000000,32.000000
2019-12-13,"NY CITY CENTRAL PARK, NY US",5.276000,0.26,48.000000,33.000000
2019-12-14,NYC,4.784000,0.26,48.500000,45.000000
2019-12-15,NYC,4.292000,0.26,49.000000,40.666667
2019-12-16,"NY CITY CENTRAL PARK, NY US",3.800000,0.26,42.000000,36.333333
2019-12-17,NYC,8.720000,0.26,35.000000,32.000000
2019-12-18,NYC,7.303333,0.26,41.666667,35.333333
2019-12-19,NYC,5.886667,0.26,48.333333,38.666667
2019-12-20,"NY CITY CENTRAL PARK, NY US",4.470000,0.26,55.000000,42.000000
2019-12-21,NYC,4.470000,0.26,55.000000,42.000000

In [81]:
# Finally replace different values for String and number cells :)
df16 = df15.replace({'NYC':'NEW YORK CITY', np.NaN: 99.99})
df16

,Location,WindSpeed,Precipitation,tMax,tMin
2019-12-09,NEW YORK CITY,99.990000,99.99,99.990000,99.990000
2019-12-10,"NY CITY CENTRAL PARK, NY US",6.930000,99.99,58.000000,39.000000
2019-12-11,NEW YORK CITY,6.260000,0.26,40.000000,31.000000
2019-12-12,"NY CITY CENTRAL PARK, NY US",5.768000,0.26,44.000000,32.000000
2019-12-13,"NY CITY CENTRAL PARK, NY US",5.276000,0.26,48.000000,33.000000
2019-12-14,NEW YORK CITY,4.784000,0.26,48.500000,45.000000
2019-12-15,NEW YORK CITY,4.292000,0.26,49.000000,40.666667
2019-12-16,"NY CITY CENTRAL PARK, NY US",3.800000,0.26,42.000000,36.333333
2019-12-17,NEW YORK CITY,8.720000,0.26,35.000000,32.000000
2019-12-18,NEW YORK CITY,7.303333,0.26,41.666667,35.333333
2019-12-19,NEW YORK CITY,5.886667,0.26,48.333333,38.666667
2019-12-20,"NY CITY CENTRAL PARK, NY US",4.470000,0.26,55.000000,42.000000
2019-12-21,NEW YORK CITY,4.470000,0.26,55.000000,42.000000