In [39]:
dir

In [40]:
pwd

'/Users/pichappan/Documents/SamplePython/input'

In [41]:
cd ../input

/Users/pichappan/Documents/SamplePython/input

In [42]:
import pandas as pd

In [43]:
df1 = pd.read_csv('AAPL.csv')
df1.head()

  Stock      Date        Open        High         Low       Close    Volume
0  AAPL  4/1/2020  246.500000  248.720001  239.130005  240.910004  44054600
1  AAPL  4/2/2020  240.339996  245.149994  236.899994  244.929993  41483500
2  AAPL  4/3/2020  242.800003  245.699997  238.970001  241.410004  32470000
3  AAPL  4/6/2020  250.899994  263.109985  249.380005  262.470001  50455100
4  AAPL  4/7/2020  270.799988  271.700012  259.000000  259.429993  50721800

In [44]:
df2 = pd.read_csv('GOOG.csv')
df2.head()

  Stock      Date         Open         High          Low        Close   Volume
0  GOOG  4/1/2020  1122.000000  1129.689941  1097.449951  1105.619995  2344200
1  GOOG  4/2/2020  1098.260010  1126.859985  1096.400024  1120.839966  1964900
2  GOOG  4/3/2020  1119.015015  1123.540039  1079.810059  1097.880005  2313400
3  GOOG  4/6/2020  1138.000000  1194.660034  1130.939941  1186.920044  2664700
4  GOOG  4/7/2020  1221.000000  1225.000000  1182.229980  1186.510010  2387300

In [45]:
df3 = pd.read_csv('TSLA.csv')
df3.head()

  Stock      Date        Open        High         Low       Close    Volume
0  TSLA  4/1/2020  504.000000  513.950012  475.100006  481.559998  13353200
1  TSLA  4/2/2020  481.029999  494.260010  446.399994  454.470001  19858400
2  TSLA  4/3/2020  509.500000  515.489990  468.390015  480.010010  22562100
3  TSLA  4/6/2020  511.200012  521.000000  497.959991  516.239990  14901800
4  TSLA  4/7/2020  545.000000  565.000000  532.340027  545.450012  17919800

In [46]:
df4 = pd.concat([df1, df2, df3])
df4.dtypes
df4

   Stock       Date        Open        High         Low       Close    Volume
0   AAPL   4/1/2020  246.500000  248.720001  239.130005  240.910004  44054600
1   AAPL   4/2/2020  240.339996  245.149994  236.899994  244.929993  41483500
2   AAPL   4/3/2020  242.800003  245.699997  238.970001  241.410004  32470000
3   AAPL   4/6/2020  250.899994  263.109985  249.380005  262.470001  50455100
4   AAPL   4/7/2020  270.799988  271.700012  259.000000  259.429993  50721800
..   ...        ...         ...         ...         ...         ...       ...
16  TSLA  4/24/2020  710.809998  730.729980  698.179993  725.150024  13237600
17  TSLA  4/27/2020  737.609985  799.489990  735.000000  798.750000  20681400
18  TSLA  4/28/2020  795.640015  805.000000  756.690002  769.119995  15222000
19  TSLA  4/29/2020  790.169983  803.200012  783.159973  800.510010  16216000
20  TSLA  4/30/2020  855.190002  869.820007  763.500000  781.880005  28471900

[63 rows x 7 columns]

In [50]:
df5 = pd.concat([df1, df2, df3], keys=['Apple','Google','Tesla'])
df5.columns
df5

         Stock       Date        Open        High         Low       Close  \
Apple 0   AAPL   4/1/2020  246.500000  248.720001  239.130005  240.910004
      1   AAPL   4/2/2020  240.339996  245.149994  236.899994  244.929993
      2   AAPL   4/3/2020  242.800003  245.699997  238.970001  241.410004
      3   AAPL   4/6/2020  250.899994  263.109985  249.380005  262.470001
      4   AAPL   4/7/2020  270.799988  271.700012  259.000000  259.429993
...        ...        ...         ...         ...         ...         ...
Tesla 16  TSLA  4/24/2020  710.809998  730.729980  698.179993  725.150024
      17  TSLA  4/27/2020  737.609985  799.489990  735.000000  798.750000
      18  TSLA  4/28/2020  795.640015  805.000000  756.690002  769.119995
      19  TSLA  4/29/2020  790.169983  803.200012  783.159973  800.510010
      20  TSLA  4/30/2020  855.190002  869.820007  763.500000  781.880005

            Volume
Apple 0   44054600
      1   41483500
      2   32470000
      3   50455100
      4   50721800
...            ...
Tesla 16  13237600
      17  20681400
      18  15222000
      19  16216000
      20  28471900

[63 rows x 7 columns]

In [55]:
# get Dataframe for index Apple
df5.loc['Apple']

   Stock       Date        Open        High         Low       Close    Volume
0   AAPL   4/1/2020  246.500000  248.720001  239.130005  240.910004  44054600
1   AAPL   4/2/2020  240.339996  245.149994  236.899994  244.929993  41483500
2   AAPL   4/3/2020  242.800003  245.699997  238.970001  241.410004  32470000
3   AAPL   4/6/2020  250.899994  263.109985  249.380005  262.470001  50455100
4   AAPL   4/7/2020  270.799988  271.700012  259.000000  259.429993  50721800
5   AAPL   4/8/2020  262.739990  267.369995  261.230011  266.070007  42223800
6   AAPL   4/9/2020  268.700012  270.070007  264.700012  267.989990  40529100
7   AAPL  4/13/2020  268.309998  273.700012  265.829987  273.250000  32755700
8   AAPL  4/14/2020  280.000000  288.250000  278.049988  287.049988  48748700
9   AAPL  4/15/2020  282.399994  286.329987  280.630005  284.429993  32788600
10  AAPL  4/16/2020  287.380005  288.200012  282.350006  286.690002  39281300
11  AAPL  4/17/2020  284.690002  286.950012  276.859985  282.799988  53812500
12  AAPL  4/20/2020  277.950012  281.679993  276.850006  276.929993  32503800
13  AAPL  4/21/2020  276.279999  277.250000  265.429993  268.369995  45247900
14  AAPL  4/22/2020  273.609985  277.899994  272.200012  276.100006  29264300
15  AAPL  4/23/2020  275.869995  281.750000  274.869995  275.029999  31203600
16  AAPL  4/24/2020  277.200012  283.010010  277.000000  282.970001  31627200
17  AAPL  4/27/2020  281.799988  284.540009  279.950012  283.170013  29271900
18  AAPL  4/28/2020  285.079987  285.829987  278.200012  278.579987  28001200
19  AAPL  4/29/2020  284.730011  289.670013  283.890015  287.730011  34320200
20  AAPL  4/30/2020  289.959991  294.529999  288.350006  293.799988  45766000

In [56]:
pd.concat([df1, df2, df3], axis=1) # data line up by index column, so make sure index do match with data order

,Stock,Date,Open,High,Low,Close,Volume,Stock,Date,Open,...,Low,Close,Volume,Stock,Date,Open,High,Low,Close,Volume
0,AAPL,4/1/2020,246.500000,248.720001,239.130005,240.910004,44054600,GOOG,4/1/2020,1122.000000,...,1097.449951,1105.619995,2344200,TSLA,4/1/2020,504.000000,513.950012,475.100006,481.559998,13353200
1,AAPL,4/2/2020,240.339996,245.149994,236.899994,244.929993,41483500,GOOG,4/2/2020,1098.260010,...,1096.400024,1120.839966,1964900,TSLA,4/2/2020,481.029999,494.260010,446.399994,454.470001,19858400
2,AAPL,4/3/2020,242.800003,245.699997,238.970001,241.410004,32470000,GOOG,4/3/2020,1119.015015,...,1079.810059,1097.880005,2313400,TSLA,4/3/2020,509.500000,515.489990,468.390015,480.010010,22562100
3,AAPL,4/6/2020,250.899994,263.109985,249.380005,262.470001,50455100,GOOG,4/6/2020,1138.000000,...,1130.939941,1186.920044,2664700,TSLA,4/6/2020,511.200012,521.000000,497.959991,516.239990,14901800
4,AAPL,4/7/2020,270.799988,271.700012,259.000000,259.429993,50721800,GOOG,4/7/2020,1221.000000,...,1182.229980,1186.510010,2387300,TSLA,4/7/2020,545.000000,565.000000,532.340027,545.450012,17919800
5,AAPL,4/8/2020,262.739990,267.369995,261.230011,266.070007,42223800,GOOG,4/8/2020,1206.500000,...,1188.160034,1210.280029,1975100,TSLA,4/8/2020,554.200012,557.210022,533.330017,548.840027,12656000
6,AAPL,4/9/2020,268.700012,270.070007,264.700012,267.989990,40529100,GOOG,4/9/2020,1224.079956,...,1196.734985,1211.449951,2175400,TSLA,4/9/2020,562.090027,575.179993,557.109985,573.000000,13650000
7,AAPL,4/13/2020,268.309998,273.700012,265.829987,273.250000,32755700,GOOG,4/13/2020,1209.180054,...,1187.598022,1217.560059,1739800,TSLA,4/13/2020,590.159973,652.000000,580.530029,650.950012,22475400
8,AAPL,4/14/2020,280.000000,288.250000,278.049988,287.049988,48748700,GOOG,4/14/2020,1245.089966,...,1236.930054,1269.229980,2470400,TSLA,4/14/2020,698.969971,741.880005,692.429993,709.890015,30576500
9,AAPL,4/15/2020,282.399994,286.329987,280.630005,284.429993,32788600,GOOG,4/15/2020,1245.609985,...,1240.400024,1262.469971,1671700,TSLA,4/15/2020,742.000000,753.130005,710.000000,729.830017,23577000
10,AAPL,4/16/2020,287.380005,288.200012,282.350006,286.690002,39281300,GOOG,4/16/2020,1274.099976,...,1242.619995,1263.469971,2518100,TSLA,4/16/2020,716.940002,759.450012,706.719971,745.210022,20657900
11,AAPL,4/17/2020,284.690002,286.950012,276.859985,282.799988,53812500,GOOG,4/17/2020,1284.849976,...,1271.229980,1283.250000,1949000,TSLA,4/17/2020,772.280029,774.950012,747.659973,753.890015,13128200
12,AAPL,4/20/2020,277.950012,281.679993,276.850006,276.929993,32503800,GOOG,4/20/2020,1271.000000,...,1261.369995,1266.609985,1695500,TSLA,4/20/2020,732.700012,765.570007,712.210022,746.359985,14746600
13,AAPL,4/21/2020,276.279999,277.250000,265.429993,268.369995,45247900,GOOG,4/21/2020,1247.000000,...,1209.709961,1216.339966,2153000,TSLA,4/21/2020,730.119995,753.330017,673.789978,686.719971,20209100
14,AAPL,4/22/2020,273.609985,277.899994,272.200012,276.100006,29264300,GOOG,4/22/2020,1245.540039,...,1242.000000,1263.209961,2093100,TSLA,4/22/2020,703.979980,734.000000,688.710022,732.109985,14224800
15,AAPL,4/23/2020,275.869995,281.750000,274.869995,275.029999,31203600,GOOG,4/23/2020,1271.550049,...,1265.670044,1276.310059,1566200,TSLA,4/23/2020,727.599976,734.000000,703.130005,705.630005,13236700
16,AAPL,4/24/2020,277.200012,283.010010,277.000000,282.970001,31627200,GOOG,4/24/2020,1261.170044,...,1249.449951,1279.310059,1640400,TSLA,4/24/2020,710.809998,730.729980,698.179993,725.150024,13237600
17,AAPL,4/27/2020,281.799988,284.540009,279.950012,283.170013,29271900,GOOG,4/27/2020,1296.000000,...,1269.000000,1275.880005,1600600,TSLA,4/27/2020,737.609985,799.489990,735.000000,798.750000,20681400
18,AAPL,4/28/2020,285.079987,285.829987,278.200012,278.579987,28001200,GOOG,4/28/2020,1287.930054,...,1232.199951,1233.670044,2951300,TSLA,4/28/2020,795.640015,805.000000,756.690002,769.119995,15222000
19,AAPL,4/29/2020,284.730011,289.670013,283.890015,287.730011,34320200,GOOG,4/29/2020,1341.459961,...,1325.339966,1341.479980,3793600,TSLA,4/29/2020,790.169983,803.200012,783.159973,800.510010,16216000
20,AAPL,4/30/2020,289.959991,294.529999,288.350006,293.799988,45766000,GOOG,4/30/2020,1324.880005,...,1322.489990,1348.660034,2668900,TSLA,4/30/2020,855.190002,869.820007,763.500000,781.880005,28471900

In [ ]:
df6 = pd.concat([df1, df2, df3], ignore_index=True)
df6.columns
df6